# Variables del Negocio
NEXT_PUBLIC_STORE_NAME=TECNOLOGIA DEL CELULAR HD
NEXT_PUBLIC_STORE_OWNER=ADAN ADELLAN
NEXT_PUBLIC_STORE_HOURS=Lunes a sábado — 8:00 AM a 6:00 PM
NEXT_PUBLIC_STORE_LOCATION=Colombia
NEXT_PUBLIC_WHATSAPP_NUMBER=573000000000

# Base de datos (Prisma / PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/celular_hd_db?schema=public

# Auth.js / NextAuth
AUTH_SECRET=supersecretkeygenerateoneforprod32charsmin
NEXTAUTH_URL=http://localhost:3000

# Storage (Vercel Blob opcional / Local por defecto)
STORAGE_PROVIDER=local
BLOB_READ_WRITE_TOKEN="
